*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    float: left;
}
.background-left{
    width: 24%;
    height: 700px;
    background-color: #b3d4db;
    float: left;
    display: inline-block;
}
.background-middle{
    width: 0;
    height: 0;
    border-top:350px solid #b3d4db;
    border-right:350px solid #405f80;
    border-bottom:350px solid #405f80;
    border-left:350px solid #b3d4db;
    float: left;
    display: inline-block;
}
.background-right{
    width: 24%;
    height: 700px;
    background-color: #405f80;
    float: left;
    display: inline-block;
}